<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <torrent-clients>
        <torrent-client>
            <type>UTorrentClient</type>
            <url>http://yourip:yourport/gui</url>
            <login>login</login>
            <password>pass</password>
            <cleaners>
                <cleaner>
                    <type>SpeedCleaner</type>
                    <!-- minimum upload speed (bytes per second) that should be targeted -->
                    <minUploadSpeed>10000</minUploadSpeed>
                    <!-- frame of time in ms for monitoring -->
                    <monitoringTime>60000</monitoringTime>
                    <!-- period of sleep in ms for checking -->
                    <checkPeriod>10000</checkPeriod>
                    <!-- period of sleep in ms if error occupied (e.g. timeout or http error).
                    default value - 60 sec. -->
                    <errorPeriod>30000</errorPeriod>
                </cleaner>
                <cleaner>
                    <type>RatioCleaner</type>
                    <!-- minimum rating -->
                    <minRating>5</minRating>
                    <!-- period of sleep in ms for checking -->
                    <checkPeriod>36000000</checkPeriod>
                    <!-- period of sleep in ms if error occupied (e.g. timeout or http error).
                    default value - 60 sec. -->
                    <errorPeriod>30000</errorPeriod>
                </cleaner>
            </cleaners>
        </torrent-client>
    </torrent-clients>
</config>